<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>customers list</h3>
    <table>
        <th>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Address</td>
            
            <th>
                {%for customer in customers%}
                <tr>
                    <td>{{customer.name}}</td>
                    <td>{{customer.email}}<td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.address}}</td>
                        <tr>
                            {%endfor%}
                        </table>


</body>
</html>

