<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>payments list</h3>
    <table>
        <th>
            <td>Amount</td>
            <td>Payment_date</td>
           
            <th>
                {%for payment in payments%}
                <tr>
                    <td>{{payment.amount}}</td>
                    <td>{{payment.payment_date}}<td>
                       
                        <tr>
                            {%endfor%}
                        </table>


</body>
</html>

